<div class="parent-div" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center">
        <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

            <div class="img1" fxLayoutAlign="center center" [style.padding.%]="5">
                <div class="logo">
                    <mat-card-title>
                        <span style="color: #4285F4;">F</span>
                        <span style="color: #EA4335;">u</span>
                        <span style="color: #FBBC05;">n</span>
                        <span style="color: #4285F4;">d</span>
                        <span style="color: #34A853;">o</span>
                        <span style="color: #EB4E41;">o</span>
                    </mat-card-title>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <h1>Change Passsword</h1>
            </div>
            <h3>Create a strong password</h3>
            <p>Create a new, strong password that you don't use for other websites</p>

            <div class="password" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" [type]="showPassword?'text':'password'" matInput placeholder="">
                    <mat-hint style="color: red;" *ngIf="f.password.invalid && f.password.touched">
                        Passsword is required</mat-hint>
                </mat-form-field>
            </div>

            <div class="confirm" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Confirm</mat-label>
                    <input formControlName="confirm" [type]="showPassword?'text':'password'" matInput placeholder="">
                    <mat-hint style="color: red;" *ngIf="f.confirm.invalid && f.confirm.touched">
                        password and confirm password must match </mat-hint>
                </mat-form-field>
            </div>
            <div class="hint" fxLayoutAlign="center center">
                <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </div>

            <div class="showpassword" [style.padding-top.%]="5">
                <section class="checkbox">
                    <mat-checkbox color="primary" (click)="toggleShowPassword()">
                        Show password</mat-checkbox>
                </section>
            </div>
            <div class="button" fxLayoutAlign="center center" [style.padding.%]="5">
                <div fxLayoutAlign="start center" fxLayoutGap="220px" style="margin-top: 5%; margin-left: -2vh;">
                    <a mat-button href="http://localhost:4200/login" target="_blank" style="color: #1a73e8;">Skip</a>
                    <button mat-raised-button class="button-next" color="primary" (click)="onSubmit()">Save
                        Password</button>
                </div>
            </div>

        </form>
    </mat-card>
</div>