.createnote {
  margin-top: 35px;
  width: 600px;
}

.closebutton {
  float: right;
}

.title {
  letter-spacing: 0.00625em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5rem;
}
