<div class="title">
    Collaborators
</div>
<div class="ownerInfo">
    <div>
        <img src="./../../../assets/images/account_circle_black_24dp.svg" alt="account_circle"
            style="opacity:0.6;  width: 40px;">
    </div>
    <div>
        <div>
            <span class="name">{{firstName}} {{lastName}}</span>
            <span style="font-style: italic;margin-left: 5px;">(Owner)</span>
        </div>
        <div style="color: #5f6368; margin-top: -5px; margin-left: 5px;">
            {{email}}
        </div>
    </div>
</div>

<div style=" padding-left: 15px;">
    <div *ngFor='let collaborator of collaborators'
        style="display: flex;justify-content: space-between;align-items: center;">
        <span> {{collaborator}}</span>
        <button mat-icon-button>
            <mat-icon style="font-size: 15px; opacity: 0.71;">close</mat-icon>
        </button>
    </div>
</div>

<div style="padding: 5px; margin-left: 5px;" fxLayout="row" fxLayoutAlign="start center">
    <div>
        <mat-icon style="font-size: 24px; opacity: .5;">person_add</mat-icon>
    </div>
    <div style="margin-left: 10px;">
        <input matInput placeholder="Email to search with" [(ngModel)]="collaboratorEmail"
            (ngModelChange)="onEmailChange()" [matMenuTriggerFor]="afterMenu">
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="getEmail(user)" *ngFor="let user of filteredUsers"> {{ user.email }}
            </button>
        </mat-menu>
    </div>
</div>

<div class=" buttons">
    <div><button mat-button [mat-dialog-close] style="opacity: 0.9;">
            Close
        </button></div>
    <div><button mat-button [mat-dialog-close] style="opacity: 0.9;" (click)="addCollaborator()">
            Save
        </button></div>
</div>




<!-- <div>

    <div>
        <h1>Collaborators</h1>
        <hr style="margin-top: -10px;">
    </div>

    <div>
        <mat-nav-list>
            <mat-list-item *ngFor="let collaborator of collaborators"> {{ collaborator }} <mat-icon class="btn"
                    (click)="clearcollaborator()">
                    close</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div fxLayoutAlign="end end">
        <input matInput [(ngModel)]="collaboratorEmail" (ngModelChange)="onEmailChange()"
            [matMenuTriggerFor]="afterMenu" class="textinput" />
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="getEmail(user)" *ngFor="let user of filteredUsers"> {{ user.email }}
            </button>
        </mat-menu>
    </div>
    <div style="background-color: antiquewhite;">
        <div fxLayoutAlign="end" class="buttons">
            <button mat-icon-button [mat-dialog-close] mat-button target="_blank" style="opacity: 0.9;">
                Close
            </button>
            <button mat-button [mat-dialog-close] mat-icon-button (click)="addCollaborator()" target="_blank"
                style="opacity: 0.9;margin-left: 30px;">
                Save
            </button>
        </div>
    </div>
</div> -->