<div class="parent-div" fxLayoutAlign="center center">
   <mat-card fxLayoutAlign="center center">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
     <div fxLayoutAlign="center center" >
        <mat-card-title>
            <span style="color: #4285F4;">F</span>
            <span style="color: #EA4335;">u</span>
            <span style="color: #FBBC05;">n</span>
            <span style="color: #4285F4;">d</span>
            <span style="color: #34A853;">o</span>
            <span style="color: #EB4E41;">o</span>
          </mat-card-title>
     </div>
     <div fxLayoutAlign="center center" >
        <h1>Account recovery</h1>
     </div>
     <div fxLayoutAlign="center center">
        <h1>Use your Fundoo Account</h1>
     </div>
     
     <div fxLayoutAlign="center center" >
        <mat-form-field appearance="outline" [style.width.%]="80">
            <mat-label>Email</mat-label>
            <input type = "email" formControlName="email" matInput placeholder=""> 
            <mat-hint style="color: red;" *ngIf="f.email.invalid && f.email.touched">
                Username is required</mat-hint> 
          </mat-form-field>
     </div>
     <div fxLayoutAlign="start center" fxLayoutGap="220px" style="margin-top: 5%; margin-left: -2vh;">
      <a mat-button href="http://localhost:4200/register" target="_blank" style="color: #1a73e8;">Create Account</a>
      <button mat-raised-button class="button-next" color="primary" (click)="onSubmit()">Next</button>
    </div>
    </form>
   </mat-card>
</div>